.my-button {
  background-color: rgb(252, 100, 134);
  color: antiquewhite;
}

.no-color {
  background-color: white;
  color: black;
}
/* 
.stickyda {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
} */
