.my-button {
  background-color: rgb(252, 100, 134);
  color: antiquewhite;
}

.no-color {
  background-color: white;
  color: black;
}

.img-div {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
}

.stickyda {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  padding: 20px;
}
